<h1 class="mt-4 mb-4">Metode Pembayaran:</h1>
<p>Bayarlah sesuai jumlah nominal jasa yang Anda pesan</p>
<div>
  <h3 id="atm-bca" class="p-2 border border-info rounded text-light bg-info" style="cursor: pointer">ATM BCA &#x25BC;</h3>
    <ol id="atm-bca-instructions" class="pb-4">
      <li>Masukkan Kartu ATM dan nomor PIN Anda</li>
      <li>Masuk ke menu TRANSAKSI LAINNYA > TRANSFER > KE REK BCA VIRTUAL ACCOUNT</li>
      <li>Masukkan 16 digit nomor Virtual Account Anda (<%= @va_acc_no %>) lalu tekan BENAR</li>
      <li>Masukkan jumlah transaksi lalu tekan BENAR</li>
      <li>Cek ulang detail transaksi, lalu tekan YA untuk konfirmasi transaksi</li>
      <li>Transaksi selesai</li>
    </ol>
  <h3 id="klikbca" class="p-2 border border-info rounded text-light bg-info" style="cursor: pointer">KlikBCA Individual &#x25BC;</h3>
    <ol id="klikbca-instructions" class="pb-4" style="display:none">
      <li>Buka website KlikBCA Individual, lalu log in</li>
      <li>Pilih TRANSFER DANA > TRANSFER KE BCA VIRTUAL ACCOUNT</li>
      <li>Masukkan 16 digit nomor Virtual Account Anda (<%= @va_acc_no %>) dan tekan LANJUTKAN</li>
      <li>Masukkan jumlah nominal transaksi dan tekan LANJUTKAN</li>
      <li>Cek ulang detail transaksi</li>
      <li>Masukkan RESPON KEYBCA APPLI 1, lalu klik tombol KIRIM</li>
      <li>Transaksi selesai</li>
    </ol>
  <h3 id="m-bca" class="p-2 border border-info rounded text-light bg-info" style="cursor: pointer">Mobile BCA &#x25BC;</h3>
    <ol id="m-bca-instructions" class="pb-4" style="display:none">
      <li>Buka aplikasi BCA mobile</li>
      <li>Pilih menu m-BCA</li>
      <li>Pilih menu m-Transfer > BCA Virtual Account</li>
      <li>Masukkan 16 digit nomor Virtual Account Anda (<%= @va_acc_no %>), lalu klik OK</li>
      <li>Klik tombol Send yang berada di sudut kanan atas aplikasi untuk melakukan transfer</li>
      <li>Cek kembali informasi tujuan</li>
      <li>Masukkan jumlah transfer</li>
      <li>Masukkan PIN BCA, lalu klik OK</li>
      <li>Transaksi selesai</li>
    </ol>
</div>
